{% autoescape off %}Hi {{ user.first_name }},

Thank you for your order! We have received it and will start preparing it soon.

Order number: {{ order.order_number }}
{% for line in lines %}
  {{ line.quantity }} x {{ line.product.product_name }}  ${{ line.sub_total }}{% endfor %}

Tax: ${{ order.tax }}
Total: ${{ order.order_total }}
Payment: Cash on delivery (pay when the order arrives)

Deliver to:
  {{ order.full_name }}
  {{ order.full_address }}
  {{ order.city }}, {{ order.state }}, {{ order.country }}

See or cancel your order: {{ order_url }}

KoffeeCart
{% endautoescape %}
